{% extends "layout.html" %}

{% block body %}

{% if response == True: %}

<div class="alert alert-success">
	<a href="#" class="alert-close close" data-dismiss="alert">&times;</a>
	Your message was sent successfully!
</div>

{% elif response == False: %}

{% if message == "": %}

<div class="alert alert-error">
	<a href="#" class="alert-close close" data-dismiss="alert">&times;</a>
	An error occurred, and your message was not delivered. Try again!
</div>

{% else: %}

<div class="alert alert-error">
	<a href="#" class="alert-close close" data-dismiss="alert">&times;</a>
	{{ message }}
</div>

{% endif %}

{% endif %}

<div class="row-fluid">
	<div class="span5 contact-text">
		<p>
			<i>George Lifchits</i>
			<br/>
			221 Harvard Place, Unit D
			<br/>
			Waterloo, Ontario, Canada
			<br/>
			N2J 4H9
			<br/>
		</p>
		<hr>
		<table>
			<tr>
				<td><a href="mailto:george.lifchits@gmail.com">george.lifchits@gmail.com</a> (personal)</td>
			</tr>
			<tr>
				<td><a href="mailto:lifc1350@mylaurier.ca">lifc1350@mylaurier.ca</a> (university)</td>
			</tr>
			<tr>
				<td><a href="tel:226-750-0505">226-750-0505</a></td>
			</tr>
			<tr>
				<td><a href="http://ca.linkedin.com/in/georgelifchits/">LinkedIn Profile</a></td>
			</tr>
		</table>
	</div>

	<div class="span7">
		<form class="well form-inline contact" method="post" action=".">
			<p>
				Send me a quick message
			</p>
			<table>
				<tr>
					<td>
					<input type="text" name='sender' class="input" placeholder="Your Email" required>
					</td>
				</tr>
				<tr>
					<td>
					<input type="text" name='subject' class="input" placeholder="Subject">
					</td>
				</tr>
				<tr>
					<td>
					<input type="textarea" name='message' class="input-block-level message" placeholder="Message">
					</td>
				</tr>
				<tr>
					<td>
					<button type="submit" name='submit' class="btn">
						Send
					</button></td>
				</tr>
			</table>
		</form>
	</div>
</div>

<script type="text/javascript">
	function stopRKey(evt) {
		var evt = (evt) ? evt : ((event) ? event : null);
		var node = (evt.target) ? evt.target : ((evt.srcElement) ? evt.srcElement : null);
		if ((evt.keyCode == 13) && (node.type == "text")) {
			return false;
		}
	}


	document.onkeypress = stopRKey;
</script>

{% endblock %}
