{% extends "layout.html" %}
{% block body %}

<div class="jumbotron">
	<h1>A hacker who means business.</h1>
	<p class="lead">
		I am a highly ambitious and enthuastic person with a strong desire to succeed.
		My passion for technology drives me to constantly learn new things, and my well-rounded
		personality bring me to diverse and interesting solutions.
		I'm looking for people to work with me; I'd love to hear from you.
	</p>
</div>

<div class="row-fluid">
	<div class="span6">
		<h3>Tech-savvy developer...</h3>
		<p>
			Part of what I study at Wilfrid Laurier University is computer science.
		</p>
		<p>
			I am seriously in love with technology. I think there's amazing things to be done with it,
			and I'm really interested in discovering those things. I'm not afraid to learn what I don't
			know, and I embrace new ways of solving problems.
		</p>
		<p>
			My development experience includes several popular programming languages
			(Java, Python, C, Scala), web development with Python (Flask, Pylons),
			exposure to data science techniques and databases (SQL, Python libraries),
			APIs (web apis with Pylons/JSON, Windows application COM interface).
		</p>
		<p>
			Most importantly, I am excited about learning new things. If your organization
			tends to use technologies or languages I haven't been exposed to, I'd
			be so happy, and very capable, of taking on the task of learning it.
		</p>
	</div>
	<div class="span6">
		<h3>...with a mind for business</h3>
		<p>
			The other part I study is business administration.
		</p>
		<p>
			A business education gives me the mindset to consider the bigger picture 
			when its necessary. More importantly, business is about turning an idea 
			into an action. Its this philosophy which propels my thinking. I've 
			got the business know-how to supplement my developing background.
		</p>
		<p>
			I've had limited practical experience with business. However, I am
			strongly interested in applying quantitative, computational
			techniques to the end of business analysis. I believe my exposure to
			data science and the techniques of developing analytics gives me a
			solid foundation for this.
			
		</p>
		<p>
			I would be eager to apply creative thinking in order to develop a value 
			added service your organization's business practices.
		</p>
	</div>
</div>

{% endblock %}
