{% extends "layout.html" %}

{% block body %}

<p class="muted">
	If you're having trouble viewing the resume below, download
	<a href="{{ url_for('static', filename='other/george-lifchits-resume.pdf') }}"> the PDF</a>
	.
</p>

<div class="row-fluid">
	<div class="span12">
		<iframe src="http://docs.google.com/viewer?url=http://www.georgelifchits.ca{{ url_for('static', filename='other/george-lifchits-resume.pdf') }}&embedded=true" 
		width="100%" height="780" style="border: 1px solid #ccc;"></iframe>
	</div>
</div>

{% endblock %}
