{% extends "layout.html" %}

{% block body %}

<p class="muted">
	If you're having trouble viewing the resume below, download
	<a href="{{ url_for('static', filename='other/george-lifchits-resume.pdf') }}"> the PDF</a>
	.
</p>
<object data="{{ url_for('static', filename='other/george-lifchits-resume.pdf') }}"
type="application/pdf"
width=100%
height=1067px>
	<p>
		You don't seem to have a PDF viewer installed for your browser. Please download the file via the link
		above to view my resume!
	</p>
</object>

{% endblock %}
